.outerContainer {
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100vh;  
  background-color: #16161A;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px 0px 10px !important;
  border-radius: 8px;
  height: 82%;
  width: 80%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .outerContainer {
    display: block;
    height: 100%;
    overflow-y: hidden;
  }

  .innerContainer {
    width: 100%;
    padding: 15px 10px 0px 10px !important;
    height: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .innerContainer {
    width: 80%;
  }
}
